block container
    div.container
        -var ob = JSON.parse(json);
        -var status = ob.status;
        -var pageAttr = page || 1;
        div#movie-container.center-block(data-page= pageAttr, data-num-results= ob.num_results)
            div.spinner(style="display:none;")
                span.glyphicon.glyphicon-refresh.glyphicon-refresh-animate
            h1 #{title}
            if status == 'OK' && ob.results.length > 0
                div#movies
                    ul
                        each val, index in ob.results
                            -var imgsrc = 'http://dummyimage.com/75/eee/ff0000&text=no+image'
                            if (typeof val.multimedia != 'undefined')
                                -imgsrc =  val.multimedia.resource.src
                            li
                                div.movie-item.col-md-3.col-sm-4.col-xs-6(data-index= index, 
                                    data-toggle='modal', data-target='.modal')
                                    img.img-responsive.center-block.img-circle(src= imgsrc, 
                                        title= val.display_title, data-toggle= 'tooltip', data-placement= 'top')
                div.clear.buttons
                    button.prev.btn.btn-primary
                        span.glyphicon.glyphicon-chevron-left Prev
                    button.next.btn.btn-primary.pull-right Next
                        span.glyphicon.glyphicon-chevron-right
            else
                p Something went wrong...
                    a(href= '/') Try again!