doctype
html
    head
        title= title
        link(href='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css', rel='stylesheet')
        link(href='/stylesheets/style.css', rel='stylesheet')
        script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js', type='text/javascript')
        script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js',type='text/javascript')
        script(src='/javascripts/scripts.js',type='text/javascript')
    body
        include container
        include overlay
