block overlay
    div.modal.fade
        div.modal-dialog
            div.modal-content
                div.modal-header
                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") &times;
                    h3.modal-title
                    a.overview.glyphicon.glyphicon-new-window(target="blank")
                div.modal-body
                    p.summary
                    table
                        tr.opening-date
                            td: strong Opening Date: 
                            td: span
                        tr.rating 
                            td: strong Rating: 
                            td: span
                        tr.critics-pick 
                            td: strong Critics Pick: 
                            td: span
                    p.link
                        a(target="blank")