.loading img {
	opacity: 0.4;
}

.hidden {
	display: none;
}

.clear {
	clear: both;
}

#movie-container {
	width: 34%;
}

#movie-container>h1, #movie-container>p {
	text-align: center;
}

#movie-container>p {
	margin-top: 30px;
}

#movies {
	margin-top: 40px;
}

#movies>ul {
	list-style-type: none;
	padding: 0
}

#movies .movie-item {
	margin: 2px auto;
	padding: 0;
}

.hover-pointer {
	opacity: 0.7;
	cursor: pointer;
}

#movie-container .buttons {
	width: auto;
}

#movie-container .buttons button {
	margin: 10px;
}

/* https://github.com/tobiasahlin/SpinKit

The MIT License (MIT)

Copyright (c) 2014 Tobias Ahlin

Permission is hereby granted, free of charge, to any person obtaining a copy of
this software and associated documentation files (the "Software"), to deal in
the Software without restriction, including without limitation the rights to
use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of
the Software, and to permit persons to whom the Software is furnished to do so,
subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS
FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR
COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER
IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN
CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.*/
.spinner {
	width: 30px;
	height: 30px;
	background-color: #333;
	opacity: 0.9;

	margin: 100px auto;
	-webkit-animation: rotateplane 1.2s infinite ease-in-out;
	animation: rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes rotateplane {
	0% { -webkit-transform: perspective(120px) }
	50% { -webkit-transform: perspective(120px) rotateY(180deg) }
	100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes rotateplane {
	0% { 
		transform: perspective(120px) rotateX(0deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
	} 50% { 
		transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
		-webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
	} 100% { 
		transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
		-webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
	}
}

.spinner {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-left: -50px; /* half width of the spinner gif */
	margin-top: -50px; /* half height of the spinner gif */
	text-align:center;
	z-index:1234;
	overflow: auto;
	width: 100px; /* width of the spinner gif */
	height: 102px; /*hight of the spinner gif +2px to fix IE8 issue */
}

/* end SpinKit */

.modal-body td {
	width: 150px;
}

.modal-header .modal-title, .modal-header .overview {
	display: inline-block;
	padding-right: 10px;
}

.modal-header .overview {
	top: -1px;
}

.modal-header .overview:hover, .modal-header .overview:visited {
	text-decoration: none;
}